#links {
  margin-top: 88px;
}

.left__annotation {
  background: #ffffff;
  opacity: 0.9;
  border-radius: 0px 33px 33px 0px;
  padding: 18px 32px;
}

.right__annotation {
  background: #ffffff;
  opacity: 0.9;
  border-radius: 33px 0px 0px 33px;
  padding: 18px 32px;
}

.annotation {
  background: #ffffff;
  opacity: 0.9;
  border-radius: 23px;
  padding: 24px 64px;
  color: #3082bd;
}
.annotation__creator {
  display:flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  opacity: 0.9;
  border-radius: 7px;
}
#about_1 {
  max-width: 1160px;
}
#about_2 {
  max-width: 780px;
}
#about_3 {
  margin-top: 54px;
  max-width: 670px;
}
#main__dude {
  border: 8px solid #ffffff;
  box-sizing: border-box;
  border-radius: 33px 0px;
  margin-left: 72px;
}
