html {
  background-color: white;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.lang__switcher {
  width: 110px;
  height: 76px;
  display:flex;
  justify-content: center;
  align-items: center;

}

.lang__switcher#en {
  border-radius: 0px 0px 33px 0px;

}
.chosen {
  background: #84bcef;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}